/**
 * Styles for the example page
 */




:root {
  --surface: #fff;
  --bg: #e4e4e7;
  --text: #71717a;
  --highlightcol: #000000;
  --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --inset: inset 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
}

.dark-theme {
  --surface: #27272a;
  --bg: #18181b;
  --text: #a1a1aa;
  --highlightcol: #ffffff
  --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  --shadow-inner: inset 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.6);
}

body {
  background-color: var(--surface);
  color: var(--text);
}


.editjs-container {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  font-size: 16.2px;
}


.editjs-container__content {

  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface);
}


.editjs-container__output {
  background: #1B202B;
  overflow-x: auto;
  padding: 0 30px;
}

.editjs-container__output-content {
  margin: 30px auto;
  color: #ABADC3;
  font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 13.3px;
}

.editjs-container__output-content:empty {
  display: none;
}
.editjs-container__button {
    display: block;
    margin: 50px auto;
    max-width: 180px;
    background: #000000;
    padding: 17px 30px;
    box-shadow: 0 22px 18px -4px rgb(171 172 173 / 77%);
    transition: all 150ms ease;
    cursor: pointer;
    border-radius: 31px;
    color: white;
    font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
    text-align: center;
}

.editjs-container__button:hover {
    background: #a2a9b1;
    transform: translateY(2px);
    box-shadow: 0 20px 15px -4px rgb(164 173 179 / 77%);

}

.ce-block--selected .ce-block__content {
    background: black;
    color: white;
}

@media all and (max-width: 730px){
  .editjs-container__header,
  .editjs-container__content{
    padding: 0 20px;
  }
}

/**
 * JSON highlighter
 */
.sc_attr {
  color: rgb(148, 162, 192);
}
.sc_key {
  color: rgb(190, 213, 255);
}
.sc_toolname {
  color: rgb(15, 205, 251);
}
.sc_tag {
  color: rgb(4, 131, 216);
}
.sc_bool {
  color: rgb(247, 60, 173);
}

.editjs-container .ce-block:first-of-type h2.ce-header{
  font-size: 50px;
}

.editjs-container h2.ce-header{
  font-size: 30px;
}

.editjs-container h3.ce-header {
  font-size: 24px;
}

.editjs-container h4.ce-header {
  font-size: 18px;
}

.editjs-container-multiple {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  gap: 30px;
  padding: 30px;
}

.editjs-container-multiple > div {
  background: #fff;
  border-radius: 7px;
  padding: 30px;
}


.codex-editor__redactor{
  padding-bottom: 100px !important;
}

/*dark light mode*/






.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 50px;
  width: 300px;
  position: relative;

}





.toggle-theme input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg);
  box-shadow: var(--inset);
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.switch:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 145px;
  top: 5px;
  left: 5px;
  background-color: var(--surface);
  box-shadow: var(--shadow);
  border-radius: 40px;
}

input:checked + .switch:before {
  transform: translateX(145px);
}

.toggle-theme div {
  color: var(--text);
  cursor: pointer;
  z-index: 1;
}



::selection {
    background-color: black !important;
    color: white !important;
}


.ce-conversion-tool {
    color: black;
}

.codex-editor svg {
    fill: black;
    vertical-align: middle;
    max-height: 100%;
}


/*image styling*/

.cdx-simple-image__picture--with-border {
    border: none;
}

.cdx-simple-image__picture--with-background {
    background: inherit;
}


/*marker*/
.cdx-marker {
    background: rgb(91 91 92 / 50%);
    color: white;
}
